<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <h1>Signature</h1>
      <br />
    </header>

    <center>
      <button style="width:25vw; height: 13vh;"  onclick="loadImage('A')">가</button>
      <button style="width:25vw; height: 13vh;" onclick="loadImage('B')">나</button>
      <button style="width:25vw; height: 13vh;" onclick="loadImage('C')">다</button>
    
      <div class="file">
        <br /><br />

        <div class="B">
          <div id="left-container" style="float: left; width: 45vw">
            <img
              id="loadedImage1"
              src="{{ url_for('static', filename='images/file_A.png') }}"
              style="width: 100%; height: 50vh; display: none"
            />
            <img
              id="loadedImage2"
              src="{{ url_for('static', filename='images/file_B.png') }}"
              style="width: 100%; height: 50vh; display: none"
            />
            <img
              id="loadedImage3"
              src="{{ url_for('static', filename='images/file_C.png') }}"
              style="width: 100%; height: 50vh; display: none"
            />
          </div>

          <div id="right-container" style="float: right; width: 45vw">
            <video
              autoplay="true"
              id="videoElement"
              style="width: 100%; height: 50vh"
            ></video>
            <canvas id="canvas" style="width: 45vw; height: 50vh display: none"></canvas>
          </div>
        </div>
      </div>


      <button style="width: 85vw; height: 7vh" onclick="takeSnapshot()">
        촬영하기
      </button>
      <div style="clear: both"></div>

      
      <div id="similarity">유사도 00%</div>

    </center>    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>