<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <header>
      <h1>Signature</h1>
      <br />
    </header>

    <center>
      <button style="width: 18vw; height: 15vh" onclick="loadImage()">
        가
      </button>
      <button style="width: 18vw; height: 15vh" onclick="writeToFile('나')">
        나
      </button>
      <button style="width: 18vw; height: 15vh" onclick="writeToFile('다')">
        다
      </button>
      <button style="width: 18vw; height: 15vh" onclick="writeToFile('라')">
        라
      </button>
      <button style="width: 18vw; height: 15vh" onclick="writeToFile('마')">
        마
      </button>

      <div class="file">
        <br /><br />

        <div class="B">
          <div id="left-container" style="float: left; width: 45vw">
            <img
              id="loadedImage"
              src=""
              style="width: 100%; height: 50vh; display: none"
            />
          </div>

          <div id="right-container" style="float: right; width: 45vw">
            <video
              autoplay="true"
              id="videoElement"
              style="width: 45vw; height: 50vh"
            ></video>
            <canvas id="canvas" style="display: none"></canvas>
          </div>
        </div>
      </div>

      <br /><br />

      <button style="width: 85vw; height: 7vh" onclick="takeSnapshot()">
        촬영하기
      </button>
      <div style="clear: both"></div>
    </center>
  </body>
</html>
