<!--


<!DOCTYPE html>
<html lang="en">
  ​<link
    rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <header>
    <h1>Signature</h1>
    <br />
  </header>
  
  <body>
  
    <center>
      <button style="width:18vw; height: 13vh;"  onclick="loadImage()">가</button>
      <button style="width:18vw; height: 13vh;" onclick="loadImage()">나</button>
      <button style="width:18vw; height: 13vh;" onclick="loadImage()">다</button>
      <button style="width:18vw; height: 13vh;" onclick="loadImage()">라</button>
      <button style="width:18vw; height: 13vh;" onclick="loadImage()">마</button>
 


      ​
      <div class="file">
       
        <br /><br />
        <br><br>

        <div class="B">

            <div id="left-container" style="float:left; width:45vw;">
              <img id="loadedImage" src="{% static 'file_A.png'%}" style="display:block;">

            </div>


            <div id="right-container" style="float:right; width:45vw;">
                <video autoplay="true" id="videoElement" style="width:45vw; height:50vh;"></video>

                <canvas id="canvas" ></canvas>
            </div>

        </div>

    </div>



        <br><br>
            <button  style="width:85vw; height:7vh;" onclick="takeSnapshot()">촬영하기</button>
            <div style="clear:both;"></div>
            <br>

            유사도 00% 
    </center>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
  
</html>

-->