<!DOCTYPE html>
<html lang="en">
​<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src={{ url_for('static', filename='script.js')}}></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <h1>Signature</h1>
    <br>
</header>
​
<body>
​
​
​
    <center>
        <button style="width:18vw; height: 15vh;"  onclick="loadImage()">가</button>
        <button style="width:18vw; height: 15vh;" onclick="writeToFile('나')">나</button>
        <button style="width:18vw; height: 15vh;" onclick="writeToFile('다')">다</button>
        <button style="width:18vw; height: 15vh;" onclick="writeToFile('라')">라</button>
        <button style="width:18vw; height: 15vh;" onclick="writeToFile('마')">마</button>
   
​
​
    <div class="file">
        <!-- '가' 버튼 클릭 시 이미지 로드 함수 호출 -->
​
​
​
​
        <br><br>
​
        <div class="B">
​
            <div id="left-container" style="float:left; width:45vw;">
                <!-- 여기에 이미지를 표시할 예정 -->
                <img id="loadedImage" src="" style="width:100%; height:50vh; display:none;">
            </div>
​
​
            <div id="right-container" style="float:right; width:45vw;">
                <video autoplay="true" id="videoElement" style="width:45vw; height:50vh;"></video>
​
                <canvas id="canvas" style="display:none;"></canvas>
            </div>
​
        </div>
​
    </div>
​
​
​
        <br><br>
​
            <!-- 촬영하기 버튼 클릭 시 캔버스에 이미지 그리기 -->
            <button  style="width:85vw; height:7vh;" onclick="takeSnapshot()">촬영하기</button>
            <div style="clear:both;"></div>
      
 </center>
​
        <script>
            // 이미지 로드 함수
            function loadImage() {
                var img = document.getElementById('loadedImage');
                img.src = "C:\\Users\\ehfkw\\Desktop\\signature\\docx\\file.jpg"; // 이미지 경로
                img.style.display = 'block';
            }
​
            // 기존 코드
            var video = document.querySelector("#videoElement");
            var canvas = document.getElementById("canvas");
            var context = canvas.getContext('2d');
​
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (err0r) {
                        console.log("Something went wrong!");
                    });
            }
​
            // 촬영하기 버튼 클릭 시 동작할 함수
            function takeSnapshot() {
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                context.drawImage(video, 0, 0, canvas.width, canvas.height);
                canvas.style.display = "block"; // 캔버스를 보이게 합니다
                video.style.display = "none"; // 비디오를 숨깁니다
            }
​
            // writeToFile 함수 제거(ActiveXObject는 더 이상 사용되지 않습니다)
​
        </script>
​
​
</body>
​
</html>